massim-2013-1.4/massim/scripts/conf/helpers/2013/config.dtd

<!ENTITY teamB SYSTEM "accounts-B.xml">
<!ENTITY teamUFSC SYSTEM "accounts-UFSC.xml">
<!ENTITY teamLTI-USP SYSTEM "accounts-LTI-USP.xml">
<!ENTITY teamALM SYSTEM "accounts-ALM.xml">


<!ENTITY simulation-sma-1 SYSTEM "simulation-sma-1.xml">
<!ENTITY simulation-sma-2 SYSTEM "simulation-sma-2.xml">
<!ENTITY simulation-sma-3 SYSTEM "simulation-sma-3.xml">
<!ENTITY simulation-sma-4 SYSTEM "simulation-sma-4.xml">

<!ENTITY actionclassmap SYSTEM "actionclassmap.xml">
<!ENTITY sim-server SYSTEM "sim-server.xml">

<!ENTITY actions SYSTEM "sim-actions.xml">
<!ENTITY roles SYSTEM "sim-roles.xml">
<!ENTITY achievements SYSTEM "sim-achievements.xml">
<!ENTITY agents SYSTEM "sim-agents.xml">

<!ATTLIST conf
  backuppath CDATA "backup"
  launch-sync-type CDATA "key"
  reportpath CDATA "./backup/"
  time CDATA "13:05"
  time-to-launch CDATA "10000"
  tournamentmode CDATA "0"
  tournamentname CDATA "Mars2013"
  debug-level CDATA "normal"
>

<!ATTLIST simulation
  configurationclass CDATA "massim.competition2013.GraphSimulationConfiguration"
  rmixmlobsserverhost CDATA "localhost"
  rmixmlobsserverport CDATA "1099"
  simulationclass CDATA "massim.competition2013.GraphSimulation"
  xmlstatisticsobserver CDATA "massim.competition2013.GraphSimulationXMLStatisticsObserver"
  visualisationobserver CDATA "massim.competition2013.GraphSimulationVisualizationObserver"
  visualisationobserver-outputpath CDATA "./output"
  rmixmlobserverweb CDATA "massim.competition2013.GraphSimulationRMIXMLDocumentObserverWebInterface"
  xmlobserver CDATA "massim.competition2013.GraphSimulationXMLObserver"
  xmlobserverpath CDATA "./xmls"

  statisticsobserver CDATA "massim.competition2013.GraphSimulationStatisticsObserver"
  statisticsobserverpath CDATA "./statistics"
  rmixmlobserver CDATA "massim.competition2013.GraphSimulationRMIXMLDocumentObserver"
>

<!ATTLIST configuration
  maxNumberOfSteps CDATA "200"
  xmlns:meta CDATA "http://www.tu-clausthal.de/"
  numberOfAgents CDATA "56"
  numberOfTeams CDATA "2"
  gridWidth CDATA "21"
  gridHeight CDATA "21"
  cellWidth CDATA "100"
  minNodeWeight CDATA "1"
  maxNodeWeight CDATA "10"
  minEdgeCost CDATA "1"
  maxEdgeCost CDATA "10"
  mapGenerator CDATA "GraphGenerator2013"
>
